<div class="each_main_section">
    <h3 style="font-size: 15px; margin-top: 15px; font-weight: bold">Account information

    </h3>

    <div class="candle_argument">
        <div class="candle_argument_name" style="font-weight: normal"> Name:  <div id='account_name' style="display: inline"></div> </div>
        <div class="candle_argument_name" style="font-weight: normal"> Email:  <div id='account_email' style="display: inline"></div> </div>
        <div class="candle_argument_name" style="margin-bottom: 20px;font-weight: normal"> Plan:  <div id='account_plan' style="display: inline"></div> </div>


        <a class="account_button" href="https://finsheet.io/account" onclick="goToAccountPage()">Upgrade/Edit your plan</a>
        <div class="account_button" onclick="showApiInputDiv()" style="width: 65px">Logout</div>
    </div>


</div>