<div class="each_main_section">
    <h3 style="font-size: 15px; margin-top: 15px">Example Formula</h3>
    <div class="actual_example_formula" style="margin-top: 5px; padding: 3px; border-left: 2px solid #dadada; background: #f8f8f8; font-size: 12px; margin-bottom: 25px">=FS_CryptoProfile(
        <div class="formula_candle_ticker" style="display: inline; color: #2cbd54">"BTC"</div>)
    </div>

    <h3 style="font-size: 15px; ">Arguments</h3>
    <div class="candle_argument">
        <div class="candle_argument_name" style="color: #2cbd54">symbol</div>
        <div class="candle_argument_explain">Crypto symbol such as BTC or ETH</div>
    </div>



    <div class="res_attributes" >
        <h3 style="font-size: 15px">Results</h3>
        <div class="candle_argument">
            <div class="candle_argument_name" style="">Name</div>
            <div class="candle_argument_explain">Crypto name.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">Full Name</div>
            <div class="candle_argument_explain">Crypto full name.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">Description</div>
            <div class="candle_argument_explain">Description.</div>
        </div>
        <div class="candle_argument">
            <div class="candle_argument_name" style="">Market Capitalization</div>
            <div class="candle_argument_explain">Market capitalization of the asset.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">Total Supply</div>
            <div class="candle_argument_explain">Total supply of the asset.</div></div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">Max Supply</div>
            <div class="candle_argument_explain">Maximum supply of the asset.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">Circulating Supply</div>
            <div class="candle_argument_explain">Current circulating supply of the asset.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">Launch Date</div>
            <div class="candle_argument_explain">Launch date.</div>
        </div>
        <div class="candle_argument">
            <div class="candle_argument_name" style="">Website</div>
            <div class="candle_argument_explain">Website.</div>
        </div>

    </div>

    <div class="candle_argument" style="margin-bottom: 25px">
        <div class="candle_argument_name" style="">Proof Type</div>
        <div class="candle_argument_explain">Proof type of the asset.</div>
    </div>
</div>