<div class="each_main_section">
    <h3 style="font-size: 15px; margin-top: 15px">Example Formula</h3>
    <div class="actual_example_formula" style="margin-top: 5px; padding: 3px; border-left: 2px solid #dadada; background: #f8f8f8; font-size: 12px; margin-bottom: 25px">=FS_EtfProfile(
        <div class="formula_candle_ticker" style="display: inline; color: #2cbd54">"ARKK"</div>)
    </div>

    <h3 style="font-size: 15px; ">Arguments</h3>
    <div class="candle_argument">
        <div class="candle_argument_name" style="color: #2cbd54">symbol</div>
        <div class="candle_argument_explain">ETF symbol</div>
    </div>



    <div class="res_attributes" >
        <h3 style="font-size: 15px">Results</h3>
        <div class="candle_argument">
            <div class="candle_argument_name" style="">Symbol</div>
            <div class="candle_argument_explain">ETF symbol.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">Asset Class</div>
            <div class="candle_argument_explain">Asset class.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">AUM</div>
            <div class="candle_argument_explain">Assets under management.</div>
        </div>
        <div class="candle_argument">
            <div class="candle_argument_name" style="">Avg Volume</div>
            <div class="candle_argument_explain">30-day average volume.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">CUSIP</div>
            <div class="candle_argument_explain">CUSIP.</div></div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">Description</div>
            <div class="candle_argument_explain">Description.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">Domicile</div>
            <div class="candle_argument_explain">Domicile.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">ETF Issuer</div>
            <div class="candle_argument_explain">ETF Issuer.</div>
        </div>
        <div class="candle_argument">
            <div class="candle_argument_name" style="">Expense Ratio</div>
            <div class="candle_argument_explain">Expense Ratio.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">Inception Date</div>
            <div class="candle_argument_explain">Inception date of the ETF.</div>
        </div>
        <div class="candle_argument">
            <div class="candle_argument_name" style="">Investment Segment</div>
            <div class="candle_argument_explain">Main investment segment.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">ISIN</div>
            <div class="candle_argument_explain">ISIN.</div></div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">Name</div>
            <div class="candle_argument_explain">ETF full name.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">NAV</div>
            <div class="candle_argument_explain">Net asset value.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">NAV Currency</div>
            <div class="candle_argument_explain">Currency of net asset value.</div>
        </div>
        <div class="candle_argument">
            <div class="candle_argument_name" style="">P/B</div>
            <div class="candle_argument_explain">Price to Book ratio.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">P/E</div>
            <div class="candle_argument_explain">Price to Earnings ratio.</div>
        </div>
        <div class="candle_argument">
            <div class="candle_argument_name" style="">Tracking Index</div>
            <div class="candle_argument_explain">Tracking index.</div>
        </div>

    </div>

    <div class="candle_argument" style="margin-bottom: 25px">
        <div class="candle_argument_name" style="">Website</div>
        <div class="candle_argument_explain">Website.</div>
    </div>
</div>