<div class="each_main_section" >
    <!-- Details info about 1 selected metric  -->
    <div class="metric_detail" style="">
        <h3 style="font-size: 15px; margin-top: 15px">Example Formula</h3>
        <div class="actual_example_formula" style="margin-top: 20px; padding: 3px; border-left: 2px solid #dadada; background: #f8f8f8; font-size: 12px; margin-bottom: 25px">=FS_EquityMetrics(
            <div class="formula_ticker" style="display: inline; color: #eba547">"AAPL"</div>
            ,
            <div class="formula_metric" style="display: inline; color: #2cbd54">"revenue"</div>
            ,
            <div class="formula_freq" style="display: inline; color: #027bfa">"FY"</div>
            ,
            <div class="formula_limit" style="display: inline; color: #9364d2">3</div>)
        </div>

        <h3 style="font-size: 15px; ">Arguments</h3>
        <div class="candle_argument">
            <div class="candle_argument_name" style="color: #eba547">symbol</div>
            <div class="candle_argument_explain">Stock symbol</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="color: #2cbd54">code</div>
            <div class="candle_argument_explain">Metric code name</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="color: #027bfa">period <div style="display: inline; font-size: 10px; font-style: italic; margin-left: 5px; font-weight: normal; color: black">(optional)</div></div>
            <div class="candle_argument_explain">Period of data (if the chosen metric supports periods, choose among its supported periods and their variants). If none is provided, the default period is used.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="color: #9364d2">limit <div style="display: inline; font-size: 10px; font-style: italic; margin-left: 5px; font-weight: normal; color: black">(optional)</div></div>
            <div class="candle_argument_explain">The number of historical data points to be returned. If none is provided, limit is set to 1. If a custom period such as "TTM-2" and "Q-3" is used, limit will be ignored.</div>
        </div>
    </div>
</div>