<div class="each_main_section">
    <h3 style="font-size: 15px; margin-top: 15px">Example Formula</h3>
    <div class="actual_example_formula" style="margin-top: 5px; padding: 3px; border-left: 2px solid #dadada; background: #f8f8f8; font-size: 12px; margin-bottom: 25px">=FS_ForexAllRates(
        <div class="formula_resolution" style="display: inline; color: #2cbd54">"USD"</div>
        )
    </div>

    <h3 style="font-size: 15px; ">Arguments</h3>
    <div class="candle_argument">
        <div class="candle_argument_name" style="color: #2cbd54">base currency <div style="display: inline; font-size: 10px; font-style: italic; margin-left: 5px; font-weight: normal; color: black">(optional)</div></div>
        <div class="candle_argument_explain">Base currency. If none is provided, USD will be used.</div>
    </div>

    <div class="res_attributes" >
        <h3 style="font-size: 15px">Results</h3>
        <div class="candle_argument">
            <div class="candle_argument_name" style="">Currency pairs</div>
            <div class="candle_argument_explain">A list of base/quote rates for all currency pair.</div>
        </div>

    </div>
</div>