<div class="each_main_section">
    <h3 style="font-size: 15px; margin-top: 15px">Example Formula</h3>
    <div class="actual_example_formula" style="margin-top: 5px; padding: 3px; border-left: 2px solid #dadada; background: #f8f8f8; font-size: 12px; margin-bottom: 25px">=FS_MutualFundProfile(
        <div class="formula_candle_ticker" style="display: inline; color: #2cbd54">"VTSAX"</div>)
    </div>

    <h3 style="font-size: 15px; ">Arguments</h3>
    <div class="candle_argument">
        <div class="candle_argument_name" style="color: #2cbd54">symbol</div>
        <div class="candle_argument_explain">Mutual Fund symbol</div>
    </div>



    <div class="res_attributes" >
        <h3 style="font-size: 15px">Results</h3>
        <div class="candle_argument">
            <div class="candle_argument_name" style="">Symbol</div>
            <div class="candle_argument_explain">Mutual Fund symbol.</div>
        </div>
        <div class="candle_argument">
            <div class="candle_argument_name" style="">Name</div>
            <div class="candle_argument_explain">Fund Full Name.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">Benchmark</div>
            <div class="candle_argument_explain">Index Benchmark.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">Beta</div>
            <div class="candle_argument_explain">Beta.</div>
        </div>
        <div class="candle_argument">
            <div class="candle_argument_name" style="">Description</div>
            <div class="candle_argument_explain">Fund's description.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">Expense Ratio</div>
            <div class="candle_argument_explain">Annual expense ratio.</div></div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">Fund Family</div>
            <div class="candle_argument_explain">Fund Family.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">Inception Date</div>
            <div class="candle_argument_explain">Fund Inception Date.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="">Investment Segment</div>
            <div class="candle_argument_explain">Fund Investment Segment.</div>
        </div>
        <div class="candle_argument">
            <div class="candle_argument_name" style="">Name</div>
            <div class="candle_argument_explain">Fund Full Name.</div>
        </div>


    </div>

    <div class="candle_argument" style="margin-bottom: 25px">
        <div class="candle_argument_name" style="">Turnover</div>
        <div class="candle_argument_explain">Fund Turnover.</div>
    </div>
</div>