    <div class="each_main_section">
        <h3 style="font-size: 15px; margin-top: 15px">Example Formula</h3>
        <div class="actual_example_formula" style="margin-top: 5px; padding: 3px; border-left: 2px solid #dadada; background: #f8f8f8; font-size: 12px; margin-bottom: 25px">=FS_PatternRecognition(
            <div class="formula_candle_ticker" style="display: inline; color: #eba547">"AAPL"</div>
            <div class="formula_resolution" style="display: inline; color: #2cbd54">, "10"</div>)
        </div>

        <h3 style="font-size: 15px; ">Arguments</h3>
        <div class="candle_argument">
            <div class="candle_argument_name" style="color: #eba547">symbol</div>
            <div class="candle_argument_explain">Stock symbol</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="color: #2cbd54">resolution</div>
            <div class="candle_argument_explain">Supported resolution includes <div style="display: inline; ">1, 5, 15, 30, 60, D, W, M</div></div>
        </div>


        <div class="res_attributes" >
            <h3 style="font-size: 15px">Results</h3>
            <div class="candle_argument">
                <div class="candle_argument_name" style="">Patterns</div>
                <div class="candle_argument_explain">Array of patterns</div>
            </div>


        </div>


    </div>
