<div class="each_main_section">
    <h3 style="font-size: 15px; margin-top: 15px">Example Formula
        <a class="icon_view_doc_function" title="View Doc" target="_blank" href="https://finsheet.io/docs/fs_streaming"  >
            <i class="fas fa-book pointer " style=" "></i>
        </a></h3>
    <div class="actual_example_formula" style="margin-top: 5px; padding: 3px; border-left: 2px solid #dadada;
            background: #f8f8f8; font-size: 12px; margin-bottom: 25px">=FS_Streaming(
        <div class="formula_candle_ticker" style="display: inline; color: #2cbd54">"BINANCE:BTCUSDT"</div>)
<!--        <div class="formula_from" style="display: inline; color: #027bfa"> "true"</div>-->

    </div>
    <ul style="list-style-type: disc ">

        <li>This function will not return any results for stocks, ETFs and mutual funds if run outside market hours.</li>
        <li>You can stream up to 300 unique symbols at a time.</li>
    </ul>
    <h3 style="font-size: 15px; ">Arguments</h3>
    <div class="candle_argument">
        <div class="candle_argument_name" style="color: #2cbd54">symbol</div>
        <div class="candle_argument_explain">Symbol (stock,  crypto, forex, ETF, mutual fund)</div>
    </div>
<!--    <div class="candle_argument">-->
<!--        <div class="candle_argument_name" style="color: #027bfa">volume <div style="display: inline; font-size: 10px; font-style: italic; margin-left: 5px; font-weight: normal; color: black">(optional)</div></div>-->
<!--        <div class="candle_argument_explain">Whether to return the latest trade volume. Default is "false".</div>-->
<!--    </div>-->


    <div class="res_attributes" >
        <h3 style="font-size: 15px">Results</h3>
        <div class="candle_argument">
            <div class="candle_argument_name" style="">Price</div>
            <div class="candle_argument_explain">Current price (updated in real-time).</div>
        </div>

    </div>



</div>