    <div class="each_main_section">
        <h3 style="font-size: 15px; margin-top: 15px">Example Formula</h3>
        <div class="actual_example_formula" style="margin-top: 5px; padding: 3px; border-left: 2px solid #dadada; background: #f8f8f8; font-size: 12px; margin-bottom: 25px">=FS_TechnicalIndicators(
            <div class="formula_candle_ticker" style="display: inline; color: #eba547">"OANDA:EUR_USD"</div>
            <div class="formula_resolution" style="display: inline; color: #2cbd54">, "D"</div>
            <div class="formula_from" style="display: inline;  color: #de4e32">, "sma"</div>
            <div class="formula_from" style="display: inline; color: #027bfa">, "1631022248"</div>
            <div class="formula_to" style="display: inline; color: #027bfa">, "09/15/2021"</div>
            <div class="formula_to" style="display: inline; ">, {"timeperiod", 3; "seriestype", "c"}</div>)
        </div>

        <h3 style="font-size: 15px; ">Arguments</h3>
        <div class="candle_argument">
            <div class="candle_argument_name" style="color: #eba547">symbol</div>
            <div class="candle_argument_explain">Any symbol</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="color: #2cbd54">resolution</div>
            <div class="candle_argument_explain">Supported resolution includes <div style="display: inline; ">1, 5, 15, 30, 60, D, W, M</div></div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="color: #de4e32">indicator</div>
            <div class="candle_argument_explain">Indicator code name. Click <a href="https://docs.google.com/spreadsheets/d/1_Tlb2e7_JFjUy4jALjQrTfpvtoKBObaJBigMdW5pu4A/edit#gid=0" style="color: #0e8e32">here</a> for the full list of supported indicators.</div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="color: #027bfa">from  </div>
            <div class="candle_argument_explain">Interval initial value (can be string of datetime, string of UNIX timestamp or reference to a datetime cell).    </div>
        </div>

        <div class="candle_argument">
            <div class="candle_argument_name" style="color: #027bfa">to <div style="display: inline; font-size: 10px; font-style: italic; margin-left: 5px; font-weight: normal; color: black">(optional)</div></div>
            <div class="candle_argument_explain">Interval end value (can be string of datetime, string of UNIX timestamp or reference to a datetime cell)</div>
        </div>


        <div class="candle_argument">
            <div class="candle_argument_name" style="">parameters <div style="display: inline; font-size: 10px; font-style: italic; margin-left: 5px; font-weight: normal; color: black">(optional)</div></div>
            <div class="candle_argument_explain">List of all parameters and their value (use , to separate a parameter from its value, use ; to separate parameters). Click <a href="https://docs.google.com/spreadsheets/d/1_Tlb2e7_JFjUy4jALjQrTfpvtoKBObaJBigMdW5pu4A/edit#gid=0" style="color: #0e8e32">here</a> to see which indicators and parameters are supported.</div>
        </div>

    </div>
